body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.logo-button {
  width: 150px;
  height: 60px;
  background-color: #032615;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo-button img {
  width: 150%;
  height: 100%;
  object-fit: cover;
  position: center;
}

.location span {
  text-align: center;
  font-size: 14px;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
}

.location img {
  align-items: center;
}

.top-bar {
  background-color: #032615;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.location {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  max-width: 600px;
  margin: 0 20px;
  position: relative;
}

.search-bar select,
.search-bar input {
  padding: 8px;
  border: none;
  outline: none;
}

.search-bar select {
  background-color: #fff;
  font-weight: bold;
}

.search-bar input {
  flex-grow: 1;
}

.search-bar button {
  background-color: #e2b038;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
}

.icons div {
  margin-left: 20px;
  text-align: right;
  cursor: pointer;
}

.icons a {
  text-decoration: none;
  color: #ffffff;
}

.cart button {
  margin-left: 20px;
  font-size: 24px;
  background-color: #032615;
  border: none;
  cursor: pointer;
}

.menu-bar {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.menu-bar span {
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.menu-icon {
  font-size: 20px;
}

.carrito-contador {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  font-weight: bold;
}

.historial-dropdown {
  position: absolute;
  top: 38px;
  left: 0;
  z-index: 999;
  background-color: white;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
}

.item-historial {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: black;
  font-size: 14px;
}

.item-historial:hover {
  background-color: #f5f5f5;
}

.icono-historial {
  margin-right: 8px;
  color: #370606;
  vertical-align: middle;
  font-size: 14px;
  opacity: 0.3;
}

.usuario-invitado {
  align-items: center;
  appearance: none;
  background-color: #ffffff5e;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #f6fbff;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;

}

/* MENÚ USUARIO */

.usuario-logueado {
  position: relative;
}

.usuario-nombre {
  align-items: center;
  appearance: none;
  background-color: #ffffff5e;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #f6fbff;
  cursor: pointer;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.usuario-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: black;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 15px;
  z-index: 999;
}

.usuario-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.avatar-usuario-grande {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.mi-perfil {
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  margin-top: 4px;
}

.usuario-opciones button {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.usuario-opciones button:hover {
  background-color: #f5f5f5;
  border-radius: 5px;
}
